modules = ["nodejs-20", "web", "postgresql-16", "python-3.11"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx next dev --port 5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[agent]
expertMode = true

[userenv]

[userenv.shared]
FIREBASE_AUTH_DOMAIN = "website-545dd.firebaseapp.com"
FIREBASE_PROJECT_ID = "website-545dd"
FIREBASE_STORAGE_BUCKET = "website-545dd.firebasestorage.app"
FIREBASE_MESSAGING_SENDER_ID = "598008544499"
FIREBASE_APP_ID = "1:598008544499:web:d4d88fa694e87e54124b86"
FIREBASE_MEASUREMENT_ID = "G-ZLY72SDDJX"
BREVO_API_KEY = "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"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000
